{% extends 'index.html.twig' %}

{% block title %}
	{{ dormitory.name ?? 'Yeni Yurt Ekle' }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.dormitory-logo {
			width: 50px;
			height: 50px;
			object-fit: cover;
			border-radius: 50%;
		}
	</style>
{% endblock %}

{% block page %}
	<div class="page" {{ stimulus_controller('admin') }}>
		<div class="page-header">
			<div class="page-title">
				{% if dormitory %}
					<img class="dormitory-logo" src="{{asset('uploads/' ~ dormitory.photo)}}">
				{% endif %}
				{{ dormitory.name ?? 'Yeni Yurt Ekle' }}
			</div>
			<a href="{{ path('app_index') }}" class="btn btn-sm btn-dark">
				<i class="fa-solid fa-list-ul"></i>
				Yurtlar
			</a>
		</div>
		<div class="page-body">
			<form class="form" {{ stimulus_target('admin', 'formDormitory') }}>
				<input type="hidden" name="id" value="{{ dormitory.id ?? '' }}">
				<div class="form-horizontal">
					<div class="form-group">
						<input type="text" name="name" value="{{ dormitory.name ?? '' }}" id="name" class="form-control" placeholder="İşletme Adı"/>
						<div class="error" data-error-expose="name" data-error-target="#name"></div>
					</div>
					<div class="form-group">
						<input type="text" name="email" id="email" value="{{ dormitory.email ?? '' }}" class="form-control" placeholder="E-posta" autocomplete="off" data-mask-email/>
						<div class="error" data-error-expose="email" data-error-target="#email"></div>
					</div>
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control" placeholder="{{ dormitory ? 'Yeni ' : '' }}Şifre" autocomplete="off"/>
						<div class="error" data-error-expose="password" data-error-target="#password"></div>
					</div>
					<div class="form-group">
						<input type="text" name="phone" value="{{ dormitory.phone ?? '90' }}" id="phone" class="form-control" placeholder="Telefon Numarası" data-mask-phone/>
						<div class="error" data-error-expose="phone" data-error-target="#phone"></div>
					</div>
				</div>
				<div class="form-group">
					<textarea name="address" id="address" class="form-control" placeholder="Adres">{{ dormitory.address ?? '' }}</textarea>
					<div class="error" data-error-expose="address" data-error-target="#address"></div>
				</div>
				<div class="form-group">
					<label>{{ dormitory ? 'Yeni ' : '' }}Logo</label>
					<input type="file" name="photo" id="photo" class="form-control" placeholder="Logo yükle">
					<div class="error" data-error-expose="photo" data-error-target="#photo"></div>
				</div>
				<div class="form-footer">
					<a href="javascript: void(0);" onclick="window.location.reload();" class="btn btn-outline-primary">
						<i class="fa-solid fa-xmark"></i>
						İptal Et
					</a>
					<a href="javascript: void(0);" class="btn btn-primary" {{ stimulus_action('admin', 'dormitorySubmit', 'click') }}>
						<i class="fa-solid fa-check"></i>
						Kaydet
					</a>
				</div>
			</form>
			<div class="loading d-none" {{ stimulus_target('admin', 'formLoadingDormitory') }}>
				<i class="fa-solid fa-spinner fa-spin"></i>
				Yurt Kaydediliyor
			</div>
		</div>
	</div>
{% endblock %}
