{% extends 'index.html.twig' %}

{% block title %}
	{{ item.name ?? 'Yeni Eşya/Ürün Ekle' }}
{% endblock %}

{% block page %}
	<div class="page" {{ stimulus_controller('dormitory') }}>
		<div class="page-header">
			<div class="page-title">
				{{ item.name ?? 'Yeni Eşya/Ürün Ekle' }}
			</div>
			<a href="{{ path('dormitory_inventory') }}" class="btn btn-sm btn-dark">
				<i class="fa-solid fa-list-ul"></i>
				Envanter
			</a>
		</div>
		<div class="page-body">
			<form class="form" {{ stimulus_target('dormitory', 'formItem') }}>
				<input type="hidden" name="id" value="{{ item.id ?? '' }}">
				<div class="form-group">
					<input type="text" name="name" value="{{ item.name ?? '' }}" id="name" class="form-control" placeholder="Eşya/Ürün"/>
					<div class="error" data-error-expose="name" data-error-target="#name"></div>
				</div>
				<div class="form-group">
					<input type="number" name="quantity" value="{{ item.quantity ?? '' }}" id="quantity" class="form-control" placeholder="Miktar"/>
					<div class="error" data-error-expose="quantity" data-error-target="#quantity"></div>
				</div>
				<div class="form-footer">
					<a href="javascript: void(0);" onclick="window.location.reload();" class="btn btn-outline-primary">
						<i class="fa-solid fa-xmark"></i>
						İptal Et
					</a>
					<a href="javascript: void(0);" class="btn btn-primary" {{ stimulus_action('dormitory', 'itemSubmit', 'click') }}>
						<i class="fa-solid fa-check"></i>
						Kaydet
					</a>
				</div>
			</form>
			<div class="loading d-none" {{ stimulus_target('dormitory', 'formLoadingItem') }}>
				<i class="fa-solid fa-spinner fa-spin"></i>
				Eşya/Ürün Kaydediliyor
			</div>
		</div>
	</div>
{% endblock %}
